<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/255ca907-c2cc-4009-95e2-0ba28b573c95/resourceGroups/Api/providers/Microsoft.Web/sites/ShopingAppApi</ResourceId>
    <ResourceGroup>Api</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://shopingappapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9cddef81-debe-4413-a35c-5a1d8adcb7cb</ProjectGuid>
    <PublishUrl>https://shopingappapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ShopingAppApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>